---
import { Section, H2, H3, P, BgImg, Image, Icon, Button } from "ui";

interface Props {
  class?: string;
  title: string;
  img?: string;
  img2?: string;
  bg: string;
}

const { class: classname, title, img, img2, bg } = Astro.props;
---

<!-- Service -->
<Section name="service">
  <Fragment slot="header">
    <BgImg src={bg} />

    {
      img && (
        <div class="service__img">
          <Image src={img} />
          {img2 && <Image class:list={classname} src={img2} />}
        </div>
      )
    }
  </Fragment>

  <div class="service__text">
    <div class="service__text-title" set:html={title} />
    <H3 class="service__text-subtitle">
      Разработаем <span>технико-экономическое предложение</span>
      <span class="font-regular">за 48 часов</span>
    </H3>
    <Button data-modal="callback">
      <span>Получить</span>
   
    </Button>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .service {
    position: relative;
    padding: 0 !important;
    height: rem(870);

    @include media("3xl") {
      height: rem(700);
    }
    @include media("lg") {
      height: rem(650);
    }
    @include media("sm") {
      height: rem(500);

      .bg-img {
        img {
          object-position: right;
        }
      }
    }

    .container {
      height: 100%;
      justify-content: center;

      @include media("sm") {
        padding-top: rem(120);
        justify-content: flex-start;
      }
    }

    &__text {
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(30);

      @include media("sm") {
        gap: rem(20);
      }

      &-title {
        margin-bottom: rem(15);
        font-size: rem(60);
        font-weight: 900;
        font-family: var(--font-secondary);
        text-transform: uppercase;

        @include media("3xl") {
          font-size: rem(48);
        }
        @include media("lg") {
          font-size: rem(40);
        }
        @include media("md") {
          font-size: rem(30);
        }
        @include media("sm") {
          margin-bottom: 0;
          font-size: rem(28);
        }
      }

      &-subtitle {
        max-width: rem(482);
      }
    }

    &__img {
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-25%);
      height: 95%;
      user-select: none;

      @include media("lg") {
        left: auto;
        right: 0;
        transform: translateX(0);
        height: 90%;
      }
      @include media("sm") {
        right: 0%;
        height: 70%;
      }

      img {
        height: 100%;
        width: auto;
        object-fit: contain;
        object-position: bottom;
      }

      .img-2 {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(15%, 18%);
        z-index: -1;
        min-width: 150%;
        height: auto;

        @include media("2xl") {
          min-width: 125%;
        }
      }

      .img-3 {
        position: absolute;
        bottom: 0;
        left: 30%;
        z-index: -1;
        height: auto;
        min-width: 130%;

        @include media("3xl") {
          left: auto;
          right: -30%;
          min-width: 120% !important;
        }
        @include media("lg") {
          display: none;
        }
      }

      .img-4 {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-15%, 24%);
        z-index: -1;
        min-width: 180%;
        height: auto;

        @include media("3xl") {
          min-width: 160%;
        }
        @include media("2xl") {
          min-width: 125%;
        }
      }
    }
  }
</style>
